:root {
    --grey: #d7d2cd;
    --yellow: #f1ff02;
}

@font-face {
    font-family: "Haas-Regular";
    src: url("./NeueHaasUnicaPro-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Teodor";
    src: url("./Teodor-Light.otf") format('opentype');
}

body {
    font-family: "Haas-Regular", sans-serif;
    background-color: var(--grey);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: min-content;
    width: 100%;

    background-color: var(--grey);
}

@media (max-width: 992px) {}

header a {
    color: black;
    text-decoration: none;
}

header a:hover {
    color: var(--yellow);
}

nav ul {
    display: flex;
    list-style: none;
}

@media (max-width: 992px) {
    nav {
        width: min-content;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: end;
        margin: 0;
    }

    nav li {
        margin-bottom: 1.2em;
    }
}

nav a {
    color: black;
    padding: 0.5rem;
}

nav a:hover {
    color: black;
    border-bottom: 2px solid var(--yellow);
}

main a {
    border-bottom: 2px solid var(--yellow);
    color: black;
    padding: 1px;
}

main a:hover {
    color: var(--yellow)
}

.title {
    font-family: 'Teodor', serif;
}

/* DESCRIPTION */
.description-holder {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .description-holder {
        flex-direction: column;
    }
}

.description {
    width: 100%;
    min-height: 100vh;
    background-image: url("hero_540.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media (max-width: 992px) {
    .description {
        width: 100%;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    line-height: 6em;
}

.hero-title {
    font-size: 8em;
}

.hero-date {
    font-size: 5em;
}

@media (max-width: 992px) {
    .hero-title {
        font-size: 4em;
    }

    .hero-date {
        font-size: 2em;
    }
}

.hero-title {
    font-family: 'Teodor', serif;
}

.hero-location{
    line-height: 3em;
}

@media (max-width: 992px) {
    .hero-location{
        line-height: 1em;
    }
}

.description-body {
    margin-top: 4em;
    margin-bottom: 4em;
}

@media (max-width: 992px) {
    .description-body {
        font-size: 0.9em;
    }
}

.cta {
    background-color: var(--yellow);
    /* float: right; */
    padding: 0.5em;
}

.description-img {
    display: flex;
    justify-content: end;
    min-width: 25vw;
}

.description-img img{
    width: 100%;
}

@media (max-width: 992px) {
    .description-img {
        justify-content: center;
    }
}

/* ARTISTS */
.exhibition-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.exhibition {
    font-style: italic;
    margin-bottom: 5em;
}

.exhibition-img {
    display: flex;
    justify-content: end;
    align-self: flex-start;
}

.exhibition-img img {
    width: 25%;
}

@media (max-width: 992px) {
    .exhibition-img img {
        width: 100%;
    }
}

.artists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;

    background-image: url('illustrations/Asset\ 16.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.artists::after {
    content: "";
    flex: auto;
}

@media (max-width: 992px) {
    .artists {
        background-repeat: repeat-y;
    }
}

.artist {
    list-style-type: none;
    padding: 1rem;
    min-width: 0;
    width: 50%;
}

@media (max-width: 992px) {
    .artist {
        width: 100%;
    }
}

.artist-name {
    font-weight: bold;
}

.artist-description {
    padding: 10px;
    font-size: 0.9em;
}

.artist-info {
    line-height: 1.6em;
}

/* WORKSHOP */
.workshop-holder {
    display: flex;
}

.workshop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.workshop-legend {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1rem;
}

.workshop-text {
    width: 80%;
}

@media (max-width: 992px) {
    .workshop-text {
        width: 9    0%;
    }
}

.workshop-img {
    display: flex;
    justify-content: end;
    min-width: 25vw;
    background-color: var(--yellow);
}

@media (max-width: 992px) {
    .workshop-img {
        justify-content: center;
    }
}

.workshop-img img{
    width: 100%;
}

/* CONCERTS */
.concerts {
    height: 70vh;
    max-height: 100%;

    background-image: url('illustrations/Asset\ 20.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    margin-top: 2rem;
}

@media (max-width: 992px) {
   .concerts{
       height: 100vh;
   }
}


.day {
    margin-bottom: 2rem;
    width: fit-content;
}

.date {
    font-size: 2em;
}

.date, .time, .performers{
    width: fit-content;
}

.performers {
    padding: 0 1rem 2rem 1rem;
}

.performers-desc{
    font-size: 0.7em;
    font-style: italic;
    max-width: 70%;
    margin-top: 0.5rem;
    margin-bottom: 4rem;
}

.lineup {
    font-size: 1.2em;
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .lineup {
        width: 100%;
        display: block;
    }
}

.time {
    font-style: italic;
    font-size: 0.8em;
}

/* INFORMATION */
.information-holder {
    display: flex;
    justify-content: space-between;
}

.information {
    width: 50%;
}

@media (max-width: 992px) {
    .information-holder {
        display: unset;
    }

    .information {
        width: 100%;
    }
}

.price{
    font-weight: bold;
}

.information-img {
    width: 45%;
    display: flex;
    justify-content: end;
}

@media (max-width: 992px) {
    .information-img {
        width: 100%;
        justify-content: center;
    }
}

.information-img img{
    width: 100%;
}

.sub-info {
    margin-bottom: 3rem;
}

.partner-logos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.partner-logo {
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.partner-logos > a {
    border: none;
}

.logo1 {
    background-image: url("partner_logos/ue.png");
}

.logo2 {
    background-image: url("partner_logos/cvvl.png");
}

.logo3 {
    background-image: url("partner_logos/som.png");
}

sup {
    font-size: 0.6em;
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

footer a {
    color: var(--yellow);
}

footer a:hover {
    color: black;
}

section {
    padding-top: 15vh;
    min-height: 90vh;
}

@media (max-width: 992px) {
    section {
        padding-top: 5vh;
    }
}

section h1 {
    border-bottom: 4px solid var(--yellow);
    margin-bottom: 50px;
    text-align: left;
    font-size:5em;
}

@media (max-width: 992px) {
    section h1 {
        font-size: 4em;
    }
}
