:root {
    --grey: #d7d2cd;
    --yellow: #f1ff02;
}

@font-face {
    font-family: "Haas-Regular";
    src: url("./NeueHaasUnicaPro-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Teodor";
    src: url("./Teodor-Light.otf") format('opentype');
}

body {
    font-family: "Haas-Regular", sans-serif;
    background-color: var(--grey);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: min-content;
    width: 100%;

    background-color: var(--grey);
}

@media (max-width: 992px) {}

header a {
    color: black;
    text-decoration: none;
}

header a:hover {
    color: var(--yellow);
}

nav ul {
    display: flex;
    list-style: none;
}

@media (max-width: 992px) {
    nav {
        width: min-content;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: end;
        margin: 0;
    }
}

nav a {
    color: black;
    padding: 0.5rem;
}

nav a:hover {
    color: black;
    border-bottom: 2px solid var(--yellow);
}

main a {
    border-bottom: 2px solid var(--yellow);
    color: black;
    padding: 1px;
}

main a:hover {
    color: var(--yellow)
}

.title{
    font-family: 'Teodor', serif;
}

/* DESCRIPTION */
.description-holder{
    display: flex;
    justify-content: space-between;
}

.description {
    width: 50%;
    line-height: 2em;
}

@media (max-width: 992px) {
    .description {
        width: 100%;
    }
}

.description-img{
    display: flex;
    justify-content: end;
    min-width: 25vw;
}

@media (max-width: 992px) {
    .description-img{
        justify-content: center;
    }
}

/* ARTISTS */
.exhibition-meta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.exhibition {
    font-style: italic;
    margin-bottom: 5em;
}

.exhibition-img{
    display: flex;
    justify-content: end;
    align-self: flex-start;
}

.exhibition-img img{
    width: 25%;
}

@media (max-width: 992px) {
    .exhibition-img img{
        width: 100%;
    }
}

.artists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;

    background-image: url('illustrations/Asset\ 16.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media (max-width: 992px) {
    .artists{
        background-repeat: repeat-y;
    }
}

.artist {
    list-style-type: none;
    padding: 1rem;
    min-width: 0;
    width: 50%;
}

@media (max-width: 992px) {
    .artist {
        width: 100%;
    }
}

.artist-name {
    font-weight: bold;
}

.artist-description {
    padding: 10px;
    font-size: 0.9em;
}

.artist-info {
    line-height: 1.6em;
}

/* WORKSHOP */
.workshop-holder{
    display: flex;
}

.workshop{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.workshop-legend {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1rem;
}

.workshop-text {
    width: 80%;
}

@media (max-width: 992px) {
    .workshop-text {
        width: 100%;
    }
}

.workshop-img{
    display: flex;
    justify-content: end;
    min-width: 25vw;
    background-color: var(--yellow);
}

@media (max-width: 992px) {
    .workshop-img{
        justify-content: center;
    }
}

/* CONCERTS */
.concerts {
    height: 70vh;
    max-height: 100%;

    background-image: url('illustrations/Asset\ 20.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.day {
    margin-bottom: 2rem;
}

.performers {
    padding: 0 1rem 2rem 1rem;
}

.lineup {
    font-size: 1.2em;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .lineup {
        width: 100%;
        display: block;
    }
}

.time {
    font-style: italic;
    font-size: 0.8em;
}

/* INFORMATION */
.information-holder{
    display: flex;
    justify-content: space-between;
}

.information {
    width: 50%;
}

@media (max-width: 992px) {
    .information-holder{
        display: unset;
    }

    .information{
        width: 100%;
    }
}

.information-img{
    width: 45%;
    display: flex;
    justify-content: end;
}

@media (max-width: 992px) {
    .information-img{
        width: 100%;
        justify-content: center;
    }
}

.sub-info{
    margin-bottom: 3rem;
}

sup {
    font-size: 0.6em;
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

footer a {
    color: var(--yellow);
}

footer a:hover {
    color: black;
}

section {
    padding-top: 15vh;
    min-height: 90vh;
}

@media (max-width: 992px) {
    section {
        padding-top: 5vh;
    }
}

section h1 {
    border-bottom: 4px solid var(--yellow);
    padding: 10px;
    margin-bottom: 50px;
    text-align: right;
}