:root {
    --grey: #d7d2cd;
    --yellow: #f1ff02;
}

@font-face {
    font-family: "Haas-Regular";
    src: url("./NeueHaasUnicaPro-Regular.ttf") format('truetype');
}

body {
    font-family: "Haas-Regular", sans-serif;
    background-color: var(--grey);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: min-content;

    background-color: var(--grey);
}

header a {
    color: black;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    color: black;
    padding: 0.5rem;
}

nav a:hover{
    color: black;
    border-bottom: 2px solid var(--yellow);
}

main a {
    border-bottom: 2px solid var(--yellow);
    color: black;
    padding: 1px;
}

main a:hover{
    color: var(--yellow)
}

/* ARTISTS */
.exhibition{
    font-style: italic;
    margin-bottom: 5em;
}

.artists{
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

.artist{
    list-style-type: none;
    padding: 1rem;
    min-width: 0;
    width: 50%;
}

.artist-name{
    font-weight: bold;
}

.artist-description{
    padding: 10px;
    font-size: 0.9em;
}

.artist-info{
    line-height: 1.6em;
}

.description{
    line-height: 2em;
}

/* WORKSHOP */
.workshop-legend{
    font-weight: bold;
    font-size: 1.2em;
}

/* CONCERTS */
.concerts{
    height: 70vh;
    max-height: 100%;
}

.lineup{
    font-size: 1.2em;
}

.time{
    font-style: italic;
    font-size: 0.8em;
}

sup{
    font-size: 0.6em;
}

footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

footer a{
    color: var(--yellow);
}

footer a:hover{
    color: black;
}

section{
    padding-top: 15vh;
    min-height: 90vh;
}

section h1 {
    border-bottom: 4px solid var(--yellow);
    padding: 10px;
    margin-bottom: 50px;
    text-align: right;
}